<header>
  <p *ngFor="let item of renderHeader()">{{ item.ccy }}: {{item.buy}}</p>
</header>

<div class="wrapper">
  <div class="form" [formGroup]="exchangeForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <input 
      formControlName="fromInput"
      type="number" 
      matInput
      [value]="exchangeForm.get('toInput')?.value*1/kross()"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <mat-select id="from.value" [(value)]="from.currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.ccy">
          {{ currency.ccy }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form" [formGroup]="exchangeForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        formControlName="toInput"
        type="number"
        matInput
        [value]="exchangeForm.get('fromInput')?.value*kross()"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <mat-select id="to" [(value)]="to.currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.ccy">
          {{ currency.ccy }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>